*{
    margin: 0;
    padding: 0;
}

.main{
    background-color: dimgray;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator{
    width: 800px;
    height: 560px;
    background-color: #444444;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid white;
    border-radius: 8px;
}

#title{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    width: 85%;
}

#calculator-screen{
    background-color: darkgreen;
    width: 85%;
    height: 65px;
    text-align: right;
    border: 2px solid black;
    border-radius: 5px;
}

#upper-screen{
    height: 40%;
    font-size: 20px;
}

#lower-screen{
    height: 60%;
    font-size: 40px;
}

#calculator-body{
    width: 85%;
    height: 350px;
    display: flex;
}

#number-pad{
    width: 57.5%;
    display: flex;
    flex-wrap: wrap;
}

#operator-pad{
    width: 37.5%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

button{
    margin: 1px;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
}

button:hover{
    filter: brightness(85%);
}