*{
    margin: 0;
    padding: 0;
}

.main{
    background-color: dimgray;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator{
    width: 800px;
    height: 500px;
    background-color:darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
}

#calculator-screen{
    background-color: darkgreen;
    width: 85%;
    height: 80px;
    margin: 10px 0;
    font-size: 40px;
    text-align: right;
}

#calculator-body{
    width: 85%;
    height: 400px;
    border: 1px solid gray;
    display: flex;
}

#number-pad{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

#operator-pad{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}